<%- include ("partials/header") %>


<div class="map-container">
	<div id='map'></div>
	
	<div class='map-overlay' id='features'>
		<h2>COVID-19 Statistics</h2>
		<div id='prompt'><p>Hover over a state!</p></div>
	</div>
	<div class='map-overlay' id='legend-wrap'>
		<div id='legend-text'>
			<div id='legend-title'>Incident Rate </div>
			<div id='legend-subtext' >Cases per 100,000 People</div>
		</div>
		
		<div class ='legend-block' id='legend'>
		</div>
	</div>
	
	
	<script>

  	mapboxgl.accessToken = 'pk.eyJ1IjoiamVud3d3MTA4IiwiYSI6ImNrYW4wbTR0bzBiN2YzMW1vZ3F6dmJuMnoifQ.pYwf9laon0ZKdAuKgwo2Vg';
  	var map = new mapboxgl.Map({
    	container: 'map',
    	style: 'mapbox://styles/mapbox/light-v9',
		center: [-96.130,38.372], //initial geolocation
		zoom: 3.6 //initial zoom
  	});
	// Add navigation controls to the canvas (top right hand corner)
	
	map.addControl(new mapboxgl.NavigationControl());
		
		
	map.on('load',function(){
		// Add source for admin-1 Boundaries
		map.addSource('state-data', {
			type: 'geojson',
			data: '/data/state.geojson'
		});

		map.addLayer({
			id: 'state-color',
			source: 'state-data',
			type: 'fill',
			//maxzoom: 6.5,
			paint: {
				'fill-color': [
				'interpolate',
				['linear'],
				['get', 'Incident_Rate'],
				0,'#ffffff',
				1000,
				'#E1B054',
				5000,
				'#D9974A',
				7500,
				'#D17E41',
				10000,
				'#C96537',
				12500,
				'#C04C2D',
				15000,
				'#B83324',
				30000,
				'#B01A1A',
				],
				'fill-opacity': 0.95
				}
		});
		
		map.addSource('state-points', {
			type: 'geojson',
			data: '/data/state_border_points.geojson'
		});
		
		map.addLayer({
			id: 'state-name',
			source: 'state-points',
			type: 'symbol',
			layout: {
				'text-field': ['upcase', ['get', 'Province_State']],
				'text-font': ['Ubuntu Mono Bold','Arial Unicode MS Regular'],
				'text-size': 11,
				'text-variable-anchor':["center", "top"],
				'text-justify': 'center'
			},
			paint: {
				'text-color': '#3a1313'
			},
		});
		
		map.addLayer({
			id: 'state-line',
			source: 'state-data',
			type: 'line',
			//maxzoom: 6.5,
			paint: {
				'line-color': '#A8A8A8'
			}
		});
		

		
		
	});
		
		
	//create a legand for the map
	var layers = ['0-1,000', '1,000-5,000', '5,000-10,000', '10,000-12,500','12,500-15,000','15,000-17,500','17,500+'];
	var colors = ["#E1B054","#D9974A","#D17E41","#C96537","#C04C2D","#B83324","#B01A1A"];
		
	for (i = 0; i < layers.length; i++) {
	  var layer = layers[i];
	  var color = colors[i];
	  var item = document.createElement('div');
	  var key = document.createElement('span');
	  key.className = 'legend-key';
	  key.style.backgroundColor = color;

	  var value = document.createElement('span');
	  value.innerHTML = layer;
	  item.appendChild(key);
	  item.appendChild(value);
	  legend.appendChild(item);
	}
	
		
		
		
	map.on('mousemove', function(e){
		if (!map.loaded()) return;
		map.getCanvas().style.cursor = 'pointer';
	  	var state = map.queryRenderedFeatures(e.point, {
			layers: ['state-color']
		});

		 if (state.length>0) {
			if (state[0].properties.Incident_Rate == undefined){
				document.getElementById('prompt').innerHTML = '<h3><strong>' + state[0].properties.NAME + ' </strong></h3><p><strong><em>Data for this state is unavailable at this time</em></p>';
			}else{
				document.getElementById('prompt').innerHTML = '<h3><strong>' + state[0].properties.NAME + '</strong></h3><p><strong><em>Incident Rate: </strong> '+ state[0].properties.Incident_Rate + ' </p><p><strong><em>Fatality Rate: </strong>' + state[0].properties.Case_Fatality_Ratio + ' %</em></p>';
			}
			
		} else {
			document.getElementById('prompt').innerHTML = '<p>Hover over a state!</p>';
		}
	});
		

	
		
	</script>
</div> 
	
<div class="update-wrap">
	<div class="update-time">
		Last updated on <%= last_update  %> EDT
	</div>
	<div class="data-source">
		Data Source: <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE)</a>
	</div>
</div>

<%- include ("partials/footer") %>